.navMainContainer{
    justify-content: center;
    height: 54px;
    display: flex;
    background-color: #eeeeee;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid #dbdbdb;
    margin: 2px;
}

.inputTextContainer{
    height: 28px;
    flex: 0 1 auto;
    min-width: 125px;
    width: 215px;
    background-color: #3897F0;
}
.inputText {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    outline: 0;
    padding: 3px 10px 3px 26px;
    z-index: 2;
}
.rightOptionContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex: 1;

}
.rightInnerContainer{
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    white-space: nowrap;
}
.profileContainer{
    display: flex;
    align-self: center;

}
