.LoginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa785a;
}
.formContainer {
    background-color: red;
    color: red;
    width: 100%;
    border-color: #282c34;
    border-width: 1px;
}
.formStyle{
    padding: 5px;
    border-width: 2px;
    border-color: #282c34;
}
